*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9e7d7;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col33{
    width: 33.33%;
}
.ml-a{
    margin-left: auto;
}
.pos-rel{
    position: relative;
}
.search input{
    border: 0px;
    background-color:transparent;
    border-bottom: 1px solid #437ba0;
}
.menubar{
    line-height: 69px;
    padding-top: 20px;
}
.fa-bars{
   color:#437ba0;
}
.fa-magnifying-glass{
    color:#437ba0;
    bottom: 74px;
    right: 7px;       
}
.logo{
    margin-left: 18px;
}
.main-heading{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    top: 46px;

}
.main-heading h1{
    font-size: 107px;
line-height: 96px;
color: #0b5e98;
font-weight: 400;
font-family: "Old Standard TT";
}
.main-heading span{
    font-size: 33px;
    letter-spacing: -1px;
    line-height: 30px;
    color: #0b5e98;
    font-family: "Old Standard TT";
    text-align: center;
    bottom: 31px;

}
.est{
left: -20px;
}
.sen1999{
right: -20px;
}
.pos-abs{
    position: absolute;
}
 .textcenter{
text-align: center;
font-size: 26px;
letter-spacing: -1px;
line-height: 44px;
color: #0b5e98;
font-weight: 500;
font-family: "DM Sans";
margin-top:200px;
}
.textjustify{
text-align: justify;
font-size: 16px;
color: #0b5e98;
font-weight: 400;
font-family: "DM Sans";
margin: 10px 20px 0px 20px;
}
.head-but{
width: 150px;
margin:32px 122px 25px 118px;
font-size: 18px;
letter-spacing: -1px;
line-height: 37px;
font-weight: 500;
font-family: "DM Sans";
text-align: center;
border-radius: 30px;
border-color:transparent;
}
.touch{
    background-color: #115b8f;
    color: #eae8d7;
}
.learn{
    background-color: #eae8d7;
    color: #115b8f;
    border-color: #1da2ff;
}
.break{
    border:none;
    width: 1380px;
    height: 2px;
    margin: 0 auto;
    background-color:#115b8f ;
}
.align-text{
text-align: center;
font-size: 16px;
letter-spacing: -1px;
line-height: 27px;
color: #0b5e98;
font-weight: 500;
font-family: "DM Sans";
}
.group2{
    width: 1380px;
    background-color: #115b8f;
bottom: 10px;
margin: 0 auto;

}
.text2 p{
   

    font-size: 48px;
letter-spacing: -2px;
line-height: 65px; 
color: #e9e8d9;
font-weight: 400;
font-family: "Old Standard TT";
text-align: center;
text-decoration: underline solid 1px;
text-underline-offset: 20px;

}
.text2 h3{
   font-size: 26px;
letter-spacing: -1px;
line-height: 62px;
color: #e9e8d9;
font-weight: 500;
font-family: "DM Sans";
text-align: center;
}
.h3what{
    margin-top: 95px;
}
.psocial{
    margin-top: 105px;
    width: 500px;
    margin-left: 74px;
    margin-bottom: 300px;
}
.img1{
    display: flex;
    flex-direction: column-reverse;
    width: 287px;
    /* margin-right: 72px; */
    /* margin: 460px 98px 79px 0px; */
  margin-bottom: 90px;
}
.img2{
    display: flex;
    flex-direction: column;
    width: 287px;
    margin-top: 75px;
    margin-left: 72px;
}
.break2{
    border:none;
    height: 2px;
    width: 1380px;
    margin: 0 auto;
    background-color:#115b8f ;
    margin-top: 55px;
}
.case{
    font-size: 107px;
letter-spacing: -4px;
line-height: 96px;
color: #355e98;
font-weight: 400;
font-family: "Old Standard TT";
text-align: center;
}
.featured{
    color: #355e98;
    text-align: center;
    margin-right: 275px;
    margin-top: 105px;
    margin-bottom: -33px;
}
.group3 {
    width: 1380px;
    margin: 0 auto;
    /* display: flex; */
    background-color: #eae8d7;
}
.g3part{
    display: flex;
}
.img1-2{
    flex-direction: column-reverse;
    width: 50%;
    margin-right: 40px;
    margin-top: 51px;
    /* margin: 46px; */
}
.img3-4{
    flex-direction: column;
    width: 50%;
    margin-left: 40px ;
    margin-top: 200px;

}
.textg3{
 text-align: center;
 font-size: 33px;
letter-spacing: -1px;
line-height: 30px;
color: #355e98;
font-weight: 400;
font-family: "Old Standard TT";
margin: 6px 0px 45px 0px; 
padding: 16px;
 border-bottom: 1px solid  #355e98;  
}
.button{
    width: 126px;
/* height: 33px; */
border-radius: 16px;
background-color: #345c90;
border: 2px solid transparent;
margin: 0 auto;
text-align: center;
color: white;
font-size: 18px;
align-items: center;
}
.g3button{
    text-align: center;
    margin-bottom: 70px;
}
.group-4{
     /* height: 855px; */
    width: 1380px;
    background-color: #0f568a;
    margin: 0 auto;
}
.who{
 font-size: 26px;
letter-spacing: -1px;
line-height: 44px;
color: #e9e8d9;
font-weight: 500;
font-family: "DM Sans";
text-align: center;
padding-top: 100px;

}
.smm{
    position:absolute;
    right: 32px;
    top: -57px;
}
.smm_txt{
    position: absolute;
    right: 77px;
    top:-29px ;
    font-size: 33px;
letter-spacing: -1px;
line-height: 107px;
color: #eae8d7;
font-weight: 400;
font-family: "DM Sans";
text-align: center;
rotate: 25deg;

}
.Redefining{
    font-size: 107px;
    letter-spacing: -4px;
    line-height: 96px;
    color: #e9e8d9;
    font-weight: 400;
    font-family: "Old Standard TT";
    text-align: center;
    width: 733px;
    padding-top: 110px;  
    margin: 0 auto;  
}
.break3{
    width: 1380px;
border: 1px solid #e8e7d9;
margin-top: 40px ;
margin-bottom: 50px;
}
.lorem{
    width:650px;
font-size: 16px;
color: #e9e8d9;
font-weight: 400;
font-family: "DM Sans";
text-align: center;
margin:0 auto;
padding-bottom: 171px;
}

