*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(89, 78, 78);
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.logo{
    margin-top: 100px;
    /* color: brown;
    background-color: blue; */
}